# Firebase Hosting Deploy for React (Vite) in subfolder

name: Deploy React App to Firebase Hosting

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        working-directory: learner-space-landing-page
        run: npm install

      - name: Build the project
        working-directory: learner-space-landing-page
        run: npm run build

      # Deploy to Firebase Hosting
      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_LEARNER_SPACE_E08D4 }}
          channelId: live
          projectId: learner-space-e08d4
          entryPoint: learner-space-landing-page
